<div class="outer">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text"
               class="form-control state-search"
               name="searchString"
               [(ngModel)]="searchString"
               placeholder=" search state here">
      </div>
    </div>
  </form>

  <table>
    <tr>
      <th>With Click</th>
      <th *ngIf="showDetails">Details</th>
      <th>With Filter</th>
    </tr>
    <tr>
      <td>
        <div class="inner">
          <table>
            <tr *ngFor="let state of stateList; let i = index">
              <td (click)="state_details(i)"
                  (dblclick)="highlight_toggle(i, true)"
                  [class.highlighted]="leftHighlightedMap[i]">
                {{ state.state }}
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td *ngIf="showDetails">
        <div class="inner">
        <table>
          <tr class="general-detail">
            <h4>State Name: {{ stateList[clickedIndex].state }}</h4>
            <h4>Total State Population: <span [ngClass]="equality ? 'equal' : 'unequal'">{{ stateList[clickedIndex].population }}</span></h4>
            <h4>County Amount: {{ stateList[clickedIndex].counties }}</h4>
            <h4>Sum of County Population: <span [ngClass]="equality ? 'equal' : 'unequal'">{{ countyPopulationSum }}</span></h4>
            <h4>Equal or not: <span [ngClass]="equality ? 'equal' : 'unequal'">{{ equality }}</span></h4>
          </tr>

          <tr>
            <th>Name</th>
            <th>Population</th>
          </tr>
          <tr *ngFor="let county of countyList; let i = index">
            <td>{{ county.county }}</td>
            <td>{{ county.population }}</td>
          </tr>

        </table>
      </div>
      </td>
      <td>
        <div class="inner">
        <table>
          <tr *ngFor="let state of stateList | searchState: 'state' : searchString ; let i = index">
            <!--Change leftHighlightedMap to rightHighlightedMap to separate highlighting action between left and right panel-->
            <td (click)="state_details(i)"
                (dblclick)="highlight_toggle(i, false)"
                [class.highlighted]="leftHighlightedMap[i]">
              {{ state.state }}
            </td>
          </tr>
        </table>
      </div>
      </td>
    </tr>
  </table>
</div>
